body{
  margin: 0;
  font-family: Arial,sans-serif;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav{
  background-color: black;
}
li:hover{
  background-color:gray;
}
.Search-box input[type="text"]
{
  padding: 5px;
  margin: 0;
  border: none;
  border-radius: 5px;
  outline: none;
}